body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color:wheat;
  
  }
  h1, h2 {
    color: #333;
  }

   hr {
    border: 0;
    height: 1px;
    background: #333;
    margin-top: 0;
    margin-bottom: 20px;
    
  }

  a {
    text-decoration: none;
    color:#3f3fdb;
  }
  a:hover {
    text-decoration: underline;
  }
  form {
    margin-top: 20px;
  }
  button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
  }
  button:hover {
    background-color: #218838;
  }

  #message {
        color: green;
  }