{% extends 'base.html' %}

{% block content %}

<h2>Rooms in {{ hotel.name }}</h2>
<ul>
  {% for room in rooms %}
    <li>
      Room {{ room.room_number }} ({{ room.room_type }}) - £{{ room.price_per_night }}
      
      {% if room.is_available %}
        - Available - <a href="{% url 'admin_book_room' room.id %}">Book</a>
      
        {% elif room.is_canceled %}
        - Available (Canceled Booking) - <a href="{% url 'admin_cancel_booking' booking.id %}">Book</a>
      {% else %}
        - Available - <a href="{% url 'admin_book_room' room.id %}">Book</a>
                    
      {% endif %}
    </li>
  {% empty %}
    <li>No rooms available.</li>
  {% endfor %}
</ul>

{% endblock %}

