{% extends "base.html" %}

{% block content %}

<h2>Payment for Booking - Room No- {{ room.room_number }} , Booking Id - #{{ booking.id }}</h2>

<form method='post'>
    {% csrf_token %}
    <div class='mb-3'>
        {{ form.method.label_tag }} {{ form.method }}
        <p> payment_type can be either 'Credit / Debit Card','cash','PayPal','or other' .</p>
    </div>
    <div class='mb-3'>
        {{ form.amount.label_tag }} {{ form.amount }}
    </div>
    <div class='mb-3'>
        {{ form.notes.label_tag }} {{ form.notes }}
    </div>
    <button type='submit' class='btn btn-success'>Pay Now</button>
    <button type='submit' class='btn btn-success'>Pay Later</button>
</form>

{% endblock %}
